<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<h1>Need Music?</h1>
<p class="lead">Use the Spotify App to browse new releases and find your favourite songs.</p>

<form action="">
    <div class="form-group">
        <input type="text" name="searchQuery" (keyup)="searchMusic()" [(ngModel)]="searchQuery" class="form-control"
            placeholder="Search artist...">
    </div>
</form>

<div *ngIf="artists">
    <div *ngFor="let artist of artists">
        <div class="card mb-3 w-100 shadow p-3 bg-body rounded">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{artist.images[2]?.url}}" alt="{{artist.name}} image not found!">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title"><a routerLink="/artist/{{artist.id}}">{{artist.name}}</a></h5>
                        <div class="my-2">
                            <strong>Followers: </strong>
                            <span>{{artist.followers.total}}</span>
                        </div>
                        <div class="my-2">
                            <strong>Genres: </strong>
                            <span *ngFor="let genre of artist.genres"><span
                                    class="badge bg-primary mr-1">{{genre}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>